@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

#root main {
  flex-grow: 1;
}

/* section {
  min-height: 76vh;
} */

/* HomePage */
.welcome-block {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.welcome-block h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Стили для блока с функциями приложения (features-block) */
.features-block {
  background-color: #f7f7f7; /* Цвет фона */
  padding: 136px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для блока */
  margin: 0 auto; /* Центрирование блока по горизонтали */
  max-width: 400px; /* Максимальная ширина блока */
}

/* Стили для заголовка в блоке */
.features-block h2 {
  color: #3498db; /* Цвет заголовка */
  font-size: 24px; /* Увеличение размера шрифта */
  margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для списка в блоке */
.features-block ul {
  list-style: none;
  padding: 0;
}

/* Стили для элементов списка в блоке */
.features-block li {
  margin: 15px 0; /* Увеличение отступа между элементами списка */
}

/* Стили для текста в элементах списка */
.features-block p {
  margin: 0;
  color: #555; /* Цвет текста */
  font-size: 18px; /* Увеличение размера шрифта */
}

/* Header */
/* Общие стили для header и footer */
.main-header {
  background-color: #3498db; /* Одинаковый цвет фона для header и footer */
  color: #fff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для поднятия header и footer */
}

/* Стили для навигационного списка */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для элементов списка в навигации */
.nav-item {
  margin: 0 10px;
  display: inline-block;
}

/* Стили для ссылок в навигации */
.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
  color: #ff6600; /* Цвет при наведении на ссылку */
}

/* Footer */

/* Общие стили для footer */
.main-footer {
  background-color: #3498db; /* Цвет фона для footer */
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для поднятия footer */
}

.logo {
  text-decoration: none;
  color: #ff6600; /* Цвет логотипа (оранжевый) */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline-block;
  transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

/* Эффект при наведении на логотип */
.logo:hover {
  color: #fff; /* Цвет логотипа при наведении (белый) */
  text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для навигационного списка */
.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для элементов списка в навигации */
.footer-item {
  margin: 0 10px;
  display: inline-block;
}

/* Стили для ссылок в навигации */
.footer-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: #ff6600; /* Цвет при наведении на ссылку */
}

/* Стили для блока социальных ссылок и контактной информации */
.footer-social {
  margin-top: 30px;
}

/* Стили для социальных ссылок */
.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-link-item {
  margin: 0 10px;
}

.social-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.social-link:hover {
  color: #ff6600; /* Цвет при наведении на ссылку */
}

/* Стили для контактной информации */
.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-item {
  margin: 0 10px;
  text-align: center;
}

.contact-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.contact-link:hover {
  color: #ff6600; /* Цвет при наведении на ссылку */
}

/* About */
/* Стили для основного контента на странице About */
.about-content {
  max-width: 800px;
  margin: auto; /* Центрирование контента по горизонтали */
  padding: 20px;
  text-align: left;
  background-color: #fff; /* Цвет фона для секции About */
  border-radius: 5px; /* Закругленные углы для контейнера */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для поднятия секции */
}

/* Стили для заголовка на странице About */
.about-content h1 {
  font-size: 28px;
  color: #3498db; /* Цвет заголовка */
  margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для текста на странице About */
.about-content p {
  margin: 10px 0;
  font-size: 18px;
  color: #555; /* Цвет текста */
}

/* Добавление отступа снизу для последнего абзаца */
.about-content p:last-child {
  margin-bottom: 0;
}

/* LoginForm */

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 32px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Отступ между полями ввода */
}

.btn {
  padding: 12px 24px; /* Увеличение размера кнопки */
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Превратить кнопку в блочный элемент */
  margin-top: 10px; /* Отступ между кнопкой и предыдущим элементом */
}

.btn-secondary {
  background-color: #ccc;
}

.form-group a {
  text-decoration: none;
  color: #007bff;
}

.form-group a:hover {
  text-decoration: underline;
}
/* RegisterForm */

.register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px; /* Отступ между блоками формы */
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

.login-link {
  text-decoration: none;
  color: #007bff;
}

.login-link:hover {
  text-decoration: underline;
}

/* profile */

.user-profile {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.user-profile h2 {
  margin-bottom: 20px;
}

.profile-info p {
  margin: 5px 0;
}

.profile-actions button {
  padding: 12px 24px;
  margin: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile-btn {
  background-color: #28a745; /* Зеленая кнопка для редактирования */
}

.change-password-btn {
  background-color: #dc3545; /* Красная кнопка для смены пароля */
}

.profile-actions button:hover {
  text-decoration: underline;
}

/* TodoForm */
.todo-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.todo-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-task-btn {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-btn:hover {
  text-decoration: underline;
}

/* TodoList */

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-item-container {
  margin-bottom: 10px;
}

.todo-item {
  max-width: 320px; /* Максимальная ширина тудушки */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.in-progress {
  background-color: #fff;
}

.is-finished {
  background-color: #e6e6e6;
}

.todo-text {
  flex-grow: 1;
  margin-right: 10px;
}

.edit-button,
.delete-button,
.checkbox {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #28a745;
  color: #fff;
}
